<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>TextUtils</title>
</head>
<body>
    <h1> WELCOME TO TEXT ANALYZER </h1>
     <form action="/Analyze" method="get"> <!--
         action is for button jo ki page k name se same hona chiye func name se naii, form sari info
      next page pr lekr jata h, method vaise hi predefind h
        -->
        <textarea name='text' style='margin: 0px; width: 1078px; height: 113px;' spellcheck="false">   
        </textarea><br> <!-- basically ekk area text k liye box type hi-->
        <input type="checkbox" name="removepunc"> Remove Punctuations <br> <!-- checkbox ka name 
            kuch bhi ho skta h-->
        <input type="checkbox" name="capatlise"> UPPER CASE ALL <br>
        <input type="checkbox" name="charcount"> Chacter Count <br>
        <button type="submit"> analyse text </button><br>
    </form>
    <br>
    I hope i remember all this.
</body>    
</html>